DDRPG/Source/Packages/
DDRPG/Backup/
DDRPG/Plugins/*
!DDRPG/Plugins/GamePlugin.core.dll
!DDRPG/Plugins/GamePlugin.core.pdb
!DDRPG/Plugins/GamePlugin.core.xml
!DDRPG/Plugins/EditorPlugin.editor.dll
!DDRPG/Plugins/EditorPlugin.editor.pdb
!DDRPG/Plugins/EditorPlugin.editor.xml
DDRPG/NVorbis.dll
DDRPG/OpenTK.GLControl.dll
DDRPG/OpenTK.GLControl.xml
DDRPG/OpenTK.dll
DDRPG/OpenTK.dll.config
DDRPG/OpenTK.pdb
DDRPG/OpenTK.xml
DDRPG/FarseerDuality.xml
DDRPG/FarseerDuality.pdb
DDRPG/Microsoft.Web.XmlTransform.dll
DDRPG/NVorbis.XML
DDRPG/FarseerDuality.dll
DDRPG/EditorUserData.xml
DDRPG/PopupControl.dll
DDRPG/PopupControl.pdb
DDRPG/DualityUpdater.exe
DDRPG/DualityPrimitives.pdb
DDRPG/WeifenLuo.WinFormsUI.Docking.dll
DDRPG/WeifenLuo.WinFormsUI.Docking.pdb
DDRPG/logfile.txt
DDRPG/logfile_editor.txt
DDRPG/logfile_editor_prev.txt
DDRPG/perflog.txt
DDRPG/Aga.Controls.dll
DDRPG/Aga.Controls.pdb
DDRPG/Duality.pdb
DDRPG/Duality.xml
DDRPG/AdamsLair.WinForms.pdb
DDRPG/AdamsLair.WinForms.xml
DDRPG/perflog_editor.txt
DDRPG/DDoc.chm
DDRPG/DesignTimeData.dat
DDRPG/DualityEditor.pdb
DDRPG/DualityEditor.xml
DDRPG/DualityLauncher.exe
DDRPG/DualityLauncher.exe.config
DDRPG/DualityLauncher.pdb
DDRPG/DualityPrimitives.XML
DDRPG/AdamsLair.WinForms.dll
DDRPG/Source/Code/CorePlugin/bin/
DDRPG/Source/Code/CorePlugin/obj/
DDRPG/Source/Code/CorePlugin/GamePlugin.core.xml
DDRPG/Source/Code/EditorPlugin/bin/
DDRPG/Source/Code/EditorPlugin/obj/
DDRPG/Source/Code/EditorPlugin/GamePlugin.core.xml
DDRPG/Source/Code/ProjectPlugins.v12.suo
DDRPG/Temp/
